<side-container [show]="show">
  <div class="row">
    <div class="col-12">
      <h3 (click)="toggle()" class="header-form with-close">Barang Baru</h3>
      <form>
        <div class="form-group">
          <label>Foto</label>
          <input (change)="onFileChange($event)" accept=".jpeg,.png,.jpg" autocomplete="off" class="form-control" name="photo"
            name="picture" required type="file">
        </div>
        <div class="form-group">
          <label>Kode Barang</label>
          <input [(ngModel)]="ent.barcode" autocomplete="off" class="form-control" name="barcode" required>
        </div>
        <div class="form-group">
          <label>Nama Barang</label>
          <input [(ngModel)]="ent.name" autocomplete="off" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label>Satuan</label>
          <select [(ngModel)]="ent.unitId" autocomplete="off" class="form-control" name="unitId" required>
            <option value=""> -- Pilih Salah Satu --</option>
            <option *ngFor="let unit of listUnit" value="{{unit.id}}">{{unit.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Markup</label>
          <div class="markup">
            <div class="percent">
              <input [(ngModel)]="ent.upPercent" autocomplete="off" class="form-control" name="upPercent" required>
            </div>
            <div class="nominal">
              <input-currency [(model)]="ent.upNominal" [class]="'form-control'"></input-currency>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Harga Jual Tetap</label>
          <input-currency [(model)]="ent.priceSell" [class]="'form-control'"></input-currency>
        </div>
        <div class="price-type form-group">
          <label>Tipe Harga Jual</label>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input [(ngModel)]="ent.priceType" [value]="ent.PRICE_TYPE_MARKUP_PERCENT" class="custom-control-input"
                name="priceType" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Markup Persen</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input [(ngModel)]="ent.priceType" [value]="ent.PRICE_TYPE_MARKUP_NOMINAL" class="custom-control-input"
                name="priceType" type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Markup Nominal</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input [(ngModel)]="ent.priceType" [value]="ent.PRICE_TYPE_FIX" class="custom-control-input" name="priceType"
                type="radio">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Harga Jual Tetap</span>
            </label>
          </div>
        </div>
        <button (click)="onSubmit()" class="btn btn-danger" type="submit">Simpan</button>
      </form>
    </div>
  </div>
</side-container>
