<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="pull-left">Data Kontak</div>
        <div class="pull-right">
          <button class="btn btn-header btn-icon" (click)="resetData()">RESET</button>
          <button title="Cari" class="btn btn-header btn-icon" (click)="formSearch.toggle()">
            <i class="ion-search"></i>
          </button>
          <button title="Baru" class="btn btn-header btn-icon" (click)="formNew.toggle()">
            <i class="ion-plus-round"></i>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="!contacts || contacts.length <= 0">
          Tidak ada data.
        </div>
        <div *ngIf="contacts && contacts.length > 0">
          <table class="table table-hovered table-bordered">
            <thead>
              <tr>
                <th class="no">No.</th>
                <th class="actions" colspan="2">Actions</th>
                <th class="sortable"
                  (click)="doSort(oHead.NAMES.ktp)"
                  [class.sort]="isSort(oHead.NAMES.ktp)"
                  [class.desc]="isDesc()">
                  No. KTP
                </th>
                <th class="sortable"
                  (click)="doSort(oHead.NAMES.name)"
                  [class.sort]="isSort(oHead.NAMES.name)"
                  [class.desc]="isDesc()">
                  Nama
                </th>
                <th class="sortable"
                  (click)="doSort(oHead.NAMES.company)"
                  [class.sort]="isSort(oHead.NAMES.company)"
                  [class.desc]="isDesc()">
                  Perusahaan
                </th>
                <th class="sortable"
                  (click)="doSort(oHead.NAMES.tlp)"
                  [class.sort]="isSort(oHead.NAMES.tlp)"
                  [class.desc]="isDesc()">
                  Telp.
                </th>
                <th class="sortable"
                  (click)="doSort(oHead.NAMES.phone)"
                  [class.sort]="isSort(oHead.NAMES.phone)"
                  [class.desc]="isDesc()">
                  HP
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let contact of contacts | paginate: { id: 'foo', itemsPerPage: 10, currentPage: page, totalItems: count }; let i = index">
                <td class="no">{{((page - 1) * numOfList) + i + 1}}</td>
                <td (click)="edit(contact)" class="action edit"></td>
                <td (click)="delete(contact)" class="action delete"></td>
                <td>{{contact.ktp}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.company}}</td>
                <td>{{contact.tlp}}</td>
                <td>{{contact.phone}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-template [id]="'foo'" #p="paginationApi" [maxSize]="6" (pageChange)="changeList($event)">
            <div class="btn-group btn-group-toggle pagination">
              <div class="pagination-description">Ditemukan {{count}} data.</div>
              <div class="pagination-content">
                <button class="btn btn-success arrow" [class.disabled]="p.isFirstPage()"
                  (click)="p.isFirstPage() || p.previous()"><i
                  class="nb-arrow-left"></i></button>
                <div class="group-number">
                  <button class="btn btn-success" (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages"
                    [class.active]="p.getCurrent() === page.value">{{ page.label }}</button>
                </div>
                <button class="btn btn-success arrow" [class.disabled]="p.isLastPage()"
                  (click)="p.isLastPage() || p.next()"><i class="nb-arrow-right"></i></button>
              </div>
            </div>
          </pagination-template>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<master-contact-new #formNew (complete)="onSaveCompleted($event)"></master-contact-new>
<master-contact-edit #formEdit (complete)="onSaveCompleted($event)"></master-contact-edit>
<master-contact-search #formSearch (onSubmit)="onSearch($event)"></master-contact-search>
<toaster-container [toasterconfig]="config"></toaster-container>
