<side-container [show]="show">
  <div class="row">
    <div class="col-12">
      <h3 (click)="toggle()" class="header-form with-close">Ubah Pengguna</h3>
      <form>
        <div class="profile-picture">
          <img src="{{entBackup.image.file}}" />
        </div>
        <div class="form-group">
          <label>Nama</label>
          <input [(ngModel)]="ent.name" autocomplete="off" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input [(ngModel)]="ent.uname" autocomplete="off" class="form-control" name="uname" required>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input [(ngModel)]="ent.mail" autocomplete="off" class="form-control" name="mail" required>
        </div>
        <div class="form-group">
          <label>Hak Akses</label>
          <select [(ngModel)]="ent.priv" autocomplete="off" class="form-control" name="priv" required>
            <option *ngFor="let i of [-1, 0, 1, 2, 3]" value="{{i}}">{{oHead.getPrivName(i)}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Status</label>
          <select [(ngModel)]="ent.status" autocomplete="off" class="form-control" name="status" required>
            <option *ngFor="let i of [0, 1]" value="{{i}}">{{oHead.getStatusName(i)}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input [(ngModel)]="ent.pass" autocomplete="off" class="form-control" name="pass" placeholder="*****************"
            required type="password">
        </div>
        <button (click)="onSubmit()" class="btn btn-danger" type="submit">Simpan</button>
      </form>
    </div>
  </div>
</side-container>
