<div class="row">
  <div class="col-md-8">
    <form>
      <nb-card>
        <nb-card-header>Profiles</nb-card-header>
        <nb-card-body>
          <toaster-container [toasterconfig]="config"></toaster-container>
          <div class="row">
            <div class="col-md-4">
              <div class="profile-container"><img src="{{user.image.file}}" /></div>
              <input (change)="onFileChange($event)" accept=".jpeg,.png,.jpg" class="input-image" name="photo"
                type="file" />
            </div>
            <div class="col-md-8">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="inputEmail1">Email</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="user.mail" class="form-control" id="inputEmail1" name="mail" placeholder="Email"
                    type="email">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="inputUsername">Username</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="user.uname" class="form-control" id="inputUsername" name="uname" placeholder="Username"
                    type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="inputFullName">Full Name</label>
                <div class="col-sm-9">
                  <input [(ngModel)]="user.name" class="form-control" id="inputFullName" name="name" placeholder="Full Name"
                    type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3">Permission</label>
                <div class="col-sm-9">
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input [(ngModel)]="user.perm" [value]="user.PERM_ALWAYS_ASK" class="custom-control-input"
                        name="perm"
                        type="radio">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Selalu Tanya</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input [(ngModel)]="user.perm" [value]="user.PERM_ASK_ONCE" class="custom-control-input"
                        name="perm"
                        type="radio">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Tanya Sekali</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="custom-control custom-radio">
                      <input [(ngModel)]="user.perm" [value]="user.PERM_GRANT_ALL" class="custom-control-input"
                        name="perm"
                        type="radio">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Ijinkan Semua</span>
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="custom-control custom-radio">
                      <input [(ngModel)]="user.perm" [value]="user.PERM_DENY_ALL" class="custom-control-input"
                        name="perm"
                        type="radio">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Selalu Tolak</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button (click)="onSubmit()" class="btn btn-success right pull-right" type="button">Simpan</button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
  <div class="col-md-4">
    <form>
      <nb-card>
        <nb-card-header>Change Password</nb-card-header>
        <nb-card-body>
          <div class="form-group">
            <label for="inputPass1">Password Sekarang</label>
            <input [(ngModel)]="pass.current" class="form-control" id="inputPass1" name="current" placeholder=""
              type="password">
          </div>
          <div class="form-group">
            <label for="inputPass2">Password Baru</label>
            <input [(ngModel)]="pass.new" class="form-control" id="inputPass2" name="new" placeholder=""
              type="password">
          </div>
          <div class="form-group">
            <label for="inputPass3">Konfirmasi Password Baru</label>
            <input [(ngModel)]="pass.confirm" class="form-control" id="inputPass3" name="confirm" placeholder=""
              type="password">
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button (click)="onChangePassword()" class="btn btn-success right pull-right" type="submit">Ubah</button>
        </nb-card-footer>
      </nb-card>
    </form>
  </div>
</div>
