<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="pull-left">Data Satuan</div>
        <div class="pull-right">
          <button (click)="resetData()" class="btn btn-header btn-icon">RESET</button>
          <button (click)="formSearch.toggle()" class="btn btn-header btn-icon" title="Cari">
            <i class="ion-search"></i>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="!users || users.length <= 0">
          Tidak ada data.
        </div>
        <div *ngIf="users && users.length > 0">
          <table class="table table-hovered table-bordered">
            <thead>
              <tr>
                <th class="no">No.</th>
                <th class="actions" colspan="2">Actions</th>
                <th (click)="doSort(oHead.NAMES.name)"
                  [class.desc]="isDesc()"
                  [class.sort]="isSort(oHead.NAMES.name)"
                  class="sortable">
                  Nama
                </th>
                <th (click)="doSort(oHead.NAMES.uname)"
                  [class.desc]="isDesc()"
                  [class.sort]="isSort(oHead.NAMES.uname)"
                  class="sortable">
                  Username
                </th>
                <th (click)="doSort(oHead.NAMES.mail)"
                  [class.desc]="isDesc()"
                  [class.sort]="isSort(oHead.NAMES.mail)"
                  class="sortable">
                  Email
                </th>
                <th (click)="doSort(oHead.NAMES.priv)"
                  [class.desc]="isDesc()"
                  [class.sort]="isSort(oHead.NAMES.priv)"
                  class="sortable">
                  Hak Akses
                </th>
                <th (click)="doSort(oHead.NAMES.status)"
                  [class.desc]="isDesc()"
                  [class.sort]="isSort(oHead.NAMES.status)"
                  class="sortable">
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of users | paginate: { id: 'foo', itemsPerPage: 10, currentPage: page, totalItems: count }; let i = index">
                <td class="no">{{((page - 1) * numOfList) + i + 1}}</td>
                <td (click)="edit(user)" class="action edit"></td>
                <td (click)="toggleStatus(user)" class="action power"></td>
                <td>{{user.name}}</td>
                <td>{{user.uname}}</td>
                <td>{{user.mail}}</td>
                <td>{{oHead.getPrivName(user.priv)}}</td>
                <td>{{oHead.getStatusName(user.status)}}</td>
              </tr>
            </tbody>
          </table>
          <pagination-template #p="paginationApi" (pageChange)="changeList($event)" [id]="'foo'" [maxSize]="6">
            <div class="btn-group btn-group-toggle pagination">
              <div class="pagination-description">Ditemukan {{count}} data.</div>
              <div class="pagination-content">
                <button (click)="p.isFirstPage() || p.previous()" [class.disabled]="p.isFirstPage()"
                  class="btn btn-success arrow"><i
                  class="nb-arrow-left"></i></button>
                <div class="group-number">
                  <button (click)="p.setCurrent(page.value)" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value"
                    class="btn btn-success">{{ page.label }}</button>
                </div>
                <button (click)="p.isLastPage() || p.next()" [class.disabled]="p.isLastPage()"
                  class="btn btn-success arrow"><i class="nb-arrow-right"></i></button>
              </div>
            </div>
          </pagination-template>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<master-user-edit #formEdit (complete)="onSaveCompleted($event)"></master-user-edit>
<master-user-search #formSearch (onSubmit)="onSearch($event)"></master-user-search>
<toaster-container [toasterconfig]="config"></toaster-container>
