<popup (hidding)="toggle()" [show]="show">
  <form>
    <div class="modal-header">
      <span>Pencarian</span>
      <button (click)="toggle()" aria-label="Close" class="close" type="button"><span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <input [(ngModel)]="query" class="form-control" name="query" placeholder="Nama Unit">
    </div>
    <div class="modal-footer">
      <button (click)="submit()" class="btn btn-md btn-primary">Cari</button>
    </div>
  </form>
</popup>
